# **Python Practice**

## Create all the Data Type of Python in different    `variable`.
* Str
* Int
* FLoat
* List
* Tuple
* Dict
* Set

In [13]:
string = "Hello, World!"
integer = 42
float = 3.14
list = [1, 2, 3, 4, 5]
tuple = (6, 7, 8, 9, 10)
dict = {'a': 1, 'b': 2, 'c': 3}
set = {1, 2, 3, 4, 5}
print("String:",string)
print("Integer:", integer)
print("Float:", float)
print("List:", list)
print("Tuple:", tuple)
print("Dictionary:", dict)
print("Set:", set)

String: Hello, World!
Integer: 42
Float: 3.14
List: [1, 2, 3, 4, 5]
Tuple: (6, 7, 8, 9, 10)
Dictionary: {'a': 1, 'b': 2, 'c': 3}
Set: {1, 2, 3, 4, 5}

## Create a list of your 5 friends and name its variable `friend`.

In [12]:
friends =["Sanoj","Shivam","Abhishek","Rishi","Ayush","Ruhi"]
print(friends)

['Sanoj', 'Shivam', 'Abhishek', 'Rishi', 'Ayush', 'Ruhi']

## Make them a `Set` and name it `set_friend`.

In [11]:
set_friend = set(students.keys())
print(set_friend)

{'d', 'a', 'e', 'c', 'b'}

## Create a dict of students with name `a, b, c, d, e, f` and the number is `20, 12, 14, 15, 18`.

In [10]:
students = {
    'a': 20,
    'b': 12,
    'c': 14,
    'd': 15,
    'e': 18
}
print(students)

{'a': 20, 'b': 12, 'c': 14, 'd': 15, 'e': 18}

## What are the rules of `variable`.

In [ ]:
# 01) A variable name can consist of Capital letters A-Z, lowercase letters a-z digits 0-9, and two special characters such as _ underscore and $ dollar sign.
# 02) The first character must not be a digit.
# 03) Blank spaces cannot be used in variable names.

## Print the table of `5`.

In [8]:
i=0
while i<=10:
    print ("5 * " , i ,"=",5 * i )
    i = i+1

5 *  0 = 0
5 *  1 = 5
5 *  2 = 10
5 *  3 = 15
5 *  4 = 20
5 *  5 = 25
5 *  6 = 30
5 *  7 = 35
5 *  8 = 40
5 *  9 = 45
5 *  10 = 50

## Print your name `25 times`.

In [ ]:
i=1
while i<=25:
Print("Sanoj")
i = i+1

## Create a list of `Months` and run a while loop print all the names of present in the list until `March` after printing the march break the code.

In [9]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
index = 0
while index < len(months):
    print(months[index])
    if months[index] == "March":
        break
    index += 1

January
February
March