In [ ]:
data={'profession':['doctor','engineer','actor','director','footballer','freelancer','teacher'],
      'salary(usd)':[500000,400000,69000000,10000000,30000000,20000,100000],
      'work_hours':[10,8,5,6,12,3,8],
      'age':[65,24,30,32,22,18,35]}